@import "tailwindcss";

:root {
  --primary: #2563eb;
  --secondary: #0f172a;

  --accent: #38bdf8;

  --background: #f8fafc;
  --surface: #ffffff;
  --border: #e2e8f0;

  --success: #16a34a;
  --danger: #dc2626;

  --text-main: #0f172a;
  --text-muted: #64748b;
}

.hide-scrollbar{
  scrollbar-width: none;
}

.hide-scrollbar {
  scrollbar-width: none;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.clip-div {
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 75%,
    97% 80%,
    71% 95%,
    33% 100%,
    0% 75%
  );
}

body {
  padding-top: 10dvh;
}
